[submodule "JUCE"]
	path = JUCE
	url = https://github.com/juce-framework/JUCE/
	branch = main
[submodule "modules/melatonin_inspector"]
	path = modules/melatonin_inspector
	url = https://github.com/sudara/melatonin_inspector.git
	branch = main
[submodule "cmake"]
	path = cmake
	url = git@github.com:sudara/cmake-includes.git
	branch = main
[submodule "third_party/chowdsp_utils"]
	path = third_party/chowdsp_utils
	url = git@github.com:davispolito/chowdsp_utilsPrinceton.git
	branch = bitklavier
[submodule "third_party/tracktion_engine"]
	path = third_party/tracktion_engine
	url = git@github.com:Tracktion/tracktion_engine.git
	branch = develop

[submodule "third_party/sfzq"]
	path = third_party/sfzq
	url = git@github.com:stevefolta/sfzq.git
[submodule "modules/melatonin_audio_sparklines"]
	path = modules/melatonin_audio_sparklines
	url = https://github.com/sudara/melatonin_audio_sparklines
	branch = main
