[submodule "JUCE"]
	path = JUCE
	url = https://github.com/juce-framework/JUCE/
	branch = develop
[submodule "modules/melatonin_inspector"]
	path = modules/melatonin_inspector
	url = https://github.com/sudara/melatonin_inspector.git
	branch = main
[submodule "cmake"]
	path = cmake
	url = git@github.com:sudara/cmake-includes.git
	branch = main
[submodule "third_party/chowdsp_utils"]
	path = third_party/chowdsp_utils
	url = git@github.com:Chowdhury-DSP/chowdsp_utils.git
[submodule "third_party/tracktion_engine"]
	path = third_party/tracktion_engine
	url = git@github.com:Tracktion/tracktion_engine.git
	branch = develop

